.App {
  text-align: center;
  padding-top: 5%;
}

.timeInput {
  outline: 0;
  border-width: 0 0 1px;
  border-color: black;
  height: 2em;
  width: 17.5em;
  text-align: center;
  font-size: 1em;
}

.timeValues {
  display:inline-block;
  background-color: white;
  width: 17.5em;
  /* height: 70vh;
  overflow: scroll; */
}

.timeValue:hover {
  background-color: gray;
}
